USE [master]
GO
/****** Object:  Database [factory]    Script Date: 9/28/2025 8:00:53 AM ******/
CREATE DATABASE [factory]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'factory1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\factory1.mdf' , SIZE = 204800KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'factory1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\factory1_log.ldf' , SIZE = 794624KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [factory].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [factory]
GO
/****** Object:  Table [dbo].[kho]    Script Date: 9/28/2025 8:00:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[kho](
	[Plant] [float] NULL,
	[Material] [float] NULL,
	[Storage Location] [float] NULL,
	[Material Description] [nvarchar](max) NULL,
	[ID Cuộn Bó] [float] NOT NULL,
	[Vị trí] [nvarchar](max) NULL,
	[Khối lượng] [float] NULL,
	[Nhóm] [nvarchar](max) NULL,
	[Ca] [nvarchar](max) NULL,
	[Ngày sản xuất] [nvarchar](max) NULL,
	[SO Mapping] [float] NULL,
	[SO Item Ma] [float] NULL,
	[Customer N] [nvarchar](max) NULL,
	[Batch] [float] NULL,
	[Order] [float] NULL,
	[Loại thép] [nvarchar](max) NULL,
	[Chiều dài] [float] NULL,
	[Đường kính] [float] NULL,
	[Mác thép] [nvarchar](max) NULL,
	[Tiêu chuẩn] [nvarchar](max) NULL,
	[Đơn vị tính] [nvarchar](max) NULL,
	[Số lượng] [float] NULL,
	[Lô Phôi] [nvarchar](max) NULL,
	[Phân xưởng] [float] NULL,
	[Nhà máy] [float] NULL,
	[Trạm cân] [float] NULL,
	[Cơ lý] [float] NULL,
	[Số lượng in] [float] NULL,
	[Nhập tay] [nvarchar](max) NULL,
	[SampleID] [float] NULL,
	[Customer M] [float] NULL,
	[Tp loại 2] [nvarchar](max) NULL,
	[snapshot_ts] [nvarchar](max) NULL,
	[status] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID Cuộn Bó] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[so]    Script Date: 9/28/2025 8:00:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[so](
	[PO.] [nvarchar](max) NULL,
	[Sales Document] [bigint] NOT NULL,
	[Customer] [nvarchar](max) NULL,
	[Material] [bigint] NOT NULL,
	[Item Description] [nvarchar](max) NULL,
	[Quantity (KG)] [float] NULL,
	[Quantity (S.U)] [float] NULL,
	[Deli.Priority] [bigint] NULL,
	[Shipped Quantity (S.U)] [float] NULL,
	[Shipped Quantity (KG)] [float] NULL,
	[Delivery Status Description] [nvarchar](max) NULL,
	[Cus.PO.] [float] NULL,
	[Factory] [nvarchar](max) NULL,
	[Ship to party] [nvarchar](max) NULL,
	[Customer Number] [bigint] NULL,
	[Billed Qty] [float] NULL,
	[Billed Qty (KG)] [float] NULL,
	[Created by] [nvarchar](max) NULL,
	[Sales Unit] [nvarchar](max) NULL,
	[Sales Document Item] [bigint] NOT NULL,
	[Schedule Delivery Date] [float] NULL,
	[Basic data text] [nvarchar](max) NULL,
	[Reqd Deliv Date] [nvarchar](max) NULL,
	[SL cần xuất] [float] NULL,
	[Ghi chú GH (LXH)] [float] NULL,
	[Ghi chu (YCSX)] [float] NULL,
	[Batch] [float] NULL,
	[Size] [nvarchar](max) NULL,
	[Status] [nvarchar](max) NULL,
	[snapshot_ts] [nvarchar](max) NULL,
	[status1] [nvarchar](max) NULL,
 CONSTRAINT [PK_so] PRIMARY KEY CLUSTERED 
(
	[Sales Document] ASC,
	[Material] ASC,
	[Sales Document Item] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_so_kho_processed]    Script Date: 9/28/2025 8:00:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vw_so_kho_processed] AS
WITH so_processed AS ( 
    SELECT
        [Material],
        [Sales Document],
        [Item Description],
        [Shipped Quantity (KG)] AS [Shipped Quantity (KG)],
        [Quantity (KG)] AS [Quantity (KG)],
        CASE 
            WHEN [Quantity (KG)] > 0 
                 THEN ROUND([Shipped Quantity (KG)] * 100.0 / [Quantity (KG)], 2)
            ELSE 0
        END AS Process
    FROM so
),
kho_clean AS (
    SELECT
        [Order],
        [Material],
        [SO Mapping],
        [Material Description],
        [Customer N],
        [Khối lượng]
    FROM kho
    WHERE [SO Mapping] IS NOT NULL 
      AND [SO Mapping] != '0'
)
SELECT
    k.[Order],
    k.[SO Mapping],
    k.Material,
    k.[Material Description],
    k.[Customer N],
    SUM(k.[Khối lượng]) AS [SL Mapping kho],
    s.[Shipped Quantity (KG)],
    s.[Quantity (KG)],
    s.Process
FROM kho_clean k
INNER JOIN so_processed s
    ON k.[SO Mapping] = s.[Sales Document]
   AND k.Material = s.Material
GROUP BY 
    k.[Order], k.[SO Mapping], k.Material,
    k.[Material Description], k.[Customer N],
    s.[Shipped Quantity (KG)], s.[Quantity (KG)], s.Process;
GO
/****** Object:  View [dbo].[vw_so_kho_summary]    Script Date: 9/28/2025 8:00:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_so_kho_summary]
AS
WITH so_processed AS (
    SELECT
        [Material],
        [Sales Document],
        [Item Description],
        [Shipped Quantity (KG)],
        [Quantity (KG)],
        CASE 
            WHEN [Quantity (KG)] > 0 
                 THEN ROUND([Shipped Quantity (KG)] * 100.0 / [Quantity (KG)], 2)
            ELSE 0
        END AS Process
    FROM so
),
kho_clean AS (
    SELECT
        [Order],
        [Material],
        [SO Mapping],
        [Material Description],
        [Customer N],
        [Khối lượng]
    FROM kho
    WHERE [SO Mapping] IS NOT NULL
      AND [SO Mapping] != '0'
)
SELECT
    k.[Order],
    s.[Sales Document],
    COALESCE(k.Material, s.Material) AS Material,
    COALESCE(k.[Material Description], s.[Item Description]) AS [Material Description],
    k.[Customer N],
    SUM(k.[Khối lượng]) AS [SL Mapping kho],
    s.[Shipped Quantity (KG)],
    s.[Quantity (KG)],
    s.Process
FROM so_processed s
LEFT JOIN kho_clean k
       ON k.[SO Mapping] = s.[Sales Document]
      AND k.Material = s.Material
GROUP BY 
    k.[Order],
    s.[Sales Document],
    COALESCE(k.Material, s.Material),
    COALESCE(k.[Material Description], s.[Item Description]),
    k.[Customer N],
    s.[Shipped Quantity (KG)],
    s.[Quantity (KG)],
    s.Process;
GO
/****** Object:  Table [dbo].[kho_removed]    Script Date: 9/28/2025 8:00:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[kho_removed](
	[Plant] [float] NULL,
	[Material] [float] NULL,
	[Storage Location] [float] NULL,
	[Material Description] [nvarchar](max) NULL,
	[ID Cuộn Bó] [float] NULL,
	[Vị trí] [nvarchar](max) NULL,
	[Khối lượng] [float] NULL,
	[Nhóm] [nvarchar](max) NULL,
	[Ca] [nvarchar](max) NULL,
	[Ngày sản xuất] [nvarchar](max) NULL,
	[SO Mapping] [float] NULL,
	[SO Item Ma] [float] NULL,
	[Customer N] [nvarchar](max) NULL,
	[Batch] [float] NULL,
	[Order] [float] NULL,
	[Loại thép] [nvarchar](max) NULL,
	[Chiều dài] [float] NULL,
	[Đường kính] [float] NULL,
	[Mác thép] [nvarchar](max) NULL,
	[Tiêu chuẩn] [nvarchar](max) NULL,
	[Đơn vị tính] [nvarchar](max) NULL,
	[Số lượng] [float] NULL,
	[Lô Phôi] [nvarchar](max) NULL,
	[Phân xưởng] [float] NULL,
	[Nhà máy] [float] NULL,
	[Trạm cân] [float] NULL,
	[Cơ lý] [float] NULL,
	[Số lượng in] [float] NULL,
	[Nhập tay] [nvarchar](max) NULL,
	[SampleID] [float] NULL,
	[Customer M] [float] NULL,
	[Tp loại 2] [nvarchar](max) NULL,
	[snapshot_ts] [nvarchar](max) NULL,
	[status] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lichtau]    Script Date: 9/28/2025 8:00:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lichtau](
	[STT] [float] NULL,
	[SỐ LỆNH TÁCH] [nvarchar](4000) NULL,
	[TÀU/PHƯƠNG TIỆN VẬN TẢI] [nvarchar](4000) NULL,
	[KHỐI LƯỢNG TỔNG TÀU] [float] NULL,
	[ETA DUNG QUẤT] [nvarchar](4000) NULL,
	[ĐẠI LÝ] [nvarchar](4000) NULL,
	[ETB DUNG QUẤT] [nvarchar](4000) NULL,
	[THỜI GIAN LÀM XONG HÀNG] [nvarchar](4000) NULL,
	[NGÀY DK DUYỆT SO] [nvarchar](4000) NULL,
	[Cảng xếp] [nvarchar](4000) NULL,
	[CẢNG ĐẾN] [nvarchar](4000) NULL,
	[LỆNH XUẤT HÀNG - KẾ HOẠCH DUYỆT (SỐ LỆNH ĐẦY ĐỦ - SỐ XNĐH - KL TỔNG ĐƠN - LSD) (MỖI LỆNH 1 DÒNG)] [nvarchar](4000) NULL,
	[KHỐI LƯỢNG HÀNG XUẤT LÊN TÀU] [float] NULL,
	[SẢN XUẤT (HRC 1/2-TÌNH TRẠNG)] [nvarchar](4000) NULL,
	[C.W MAX TÀU NHẬN ĐƯỢC] [float] NULL,
	[GHI CHÚ] [nvarchar](4000) NULL,
	[NHỊP] [nvarchar](4000) NULL,
	[TÌNH TRẠNG] [float] NULL,
	[SO] [float] NULL,
	[TỔNG ĐÃ MAP] [float] NULL,
	[ĐÃ XUẤT] [nvarchar](4000) NULL,
	[CÒN LẠI] [nvarchar](4000) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lsx]    Script Date: 9/28/2025 8:00:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lsx](
	[Order] [bigint] NULL,
	[KHÁCH HÀNG] [nvarchar](max) NULL,
	[Ngày bắt đầu block] [datetime] NULL,
	[Ngày kết thúc block] [datetime] NULL,
	[Sản lượng 1A] [int] NULL,
	[Sản lượng 1B] [int] NULL,
	[Tổng yêu cầu] [float] NULL,
	[SL trung bình/ngày] [float] NULL,
	[Mac thep] [nvarchar](50) NULL,
	[Yêu cầu đặc biệt] [nvarchar](max) NULL,
	[Số_lô_Batch] [bigint] NULL,
	[KL_Cuộn_(Tấn)] [nvarchar](max) NULL,
	[Mục đích sử dụng] [nvarchar](max) NULL,
	[Khối lượng cuộn trung bình] [float] NULL,
	[lsx_id] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[report]    Script Date: 9/28/2025 8:00:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[report](
	[Order] [float] NULL,
	[KHÁCH HÀNG] [nvarchar](4000) NULL,
	[Tổng yêu cầu] [float] NULL,
	[SL trung bình/ngày] [float] NULL,
	[lsx_id] [nvarchar](4000) NULL,
	[Ngày] [datetime] NULL,
	[Sản lượng thực tế] [float] NULL,
	[Tổng sản lượng thực tế] [float] NULL,
	[Trong_khoang_LSX] [nvarchar](4000) NULL,
	[Trạng thái] [nvarchar](4000) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sanluong]    Script Date: 9/28/2025 8:00:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sanluong](
	[Material Description] [nvarchar](max) NULL,
	[Nhóm] [nvarchar](max) NULL,
	[ID Cuộn Bó] [float] NOT NULL,
	[Khối lượng] [float] NULL,
	[Vị trí] [nvarchar](max) NULL,
	[Lô Phôi XK] [nvarchar](max) NULL,
	[Ngày sản xuất] [nvarchar](max) NULL,
	[Batch] [float] NULL,
	[ID Ref] [float] NULL,
	[Order] [float] NULL,
	[Tp loại 2] [int] NULL,
	[QLCL] [int] NULL,
	[Material] [float] NULL,
	[Ca] [nvarchar](max) NULL,
	[Đã xóa] [nvarchar](max) NULL,
	[Đã nhập kho] [nvarchar](max) NULL,
	[Lô phôi] [nvarchar](max) NULL,
	[Đường kính] [float] NULL,
	[Mác thép] [nvarchar](max) NULL,
	[Đã chuyển] [nvarchar](max) NULL,
	[Đã xuất kho] [nvarchar](max) NULL,
	[Chuyển loại] [nvarchar](max) NULL,
	[Lỗi đơn trọng dương - L*(+)] [int] NULL,
	[Đã chuyển kho bán hàng] [nvarchar](max) NULL,
	[snapshot_ts] [nvarchar](max) NULL,
	[status] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID Cuộn Bó] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sanluong_removed]    Script Date: 9/28/2025 8:00:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sanluong_removed](
	[Material Description] [nvarchar](max) NULL,
	[Nhóm] [nvarchar](max) NULL,
	[ID Cuộn Bó] [float] NOT NULL,
	[Khối lượng] [float] NULL,
	[Vị trí] [nvarchar](max) NULL,
	[Lô Phôi XK] [nvarchar](max) NULL,
	[Ngày sản xuất] [nvarchar](max) NULL,
	[Batch] [float] NULL,
	[ID Ref] [float] NULL,
	[Order] [float] NULL,
	[Tp loại 2] [int] NULL,
	[QLCL] [int] NULL,
	[Material] [float] NULL,
	[Ca] [nvarchar](max) NULL,
	[Đã xóa] [nvarchar](max) NULL,
	[Đã nhập kho] [nvarchar](max) NULL,
	[Lô phôi] [nvarchar](max) NULL,
	[Đường kính] [float] NULL,
	[Mác thép] [nvarchar](max) NULL,
	[Đã chuyển] [nvarchar](max) NULL,
	[Đã xuất kho] [nvarchar](max) NULL,
	[Chuyển loại] [nvarchar](max) NULL,
	[Lỗi đơn trọng dương - L*(+)] [int] NULL,
	[Đã chuyển kho bán hàng] [nvarchar](max) NULL,
	[snapshot_ts] [nvarchar](max) NULL,
	[status] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID Cuộn Bó] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sanluongthucte]    Script Date: 9/28/2025 8:00:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sanluongthucte](
	[Order] [float] NULL,
	[Ngày] [datetime] NULL,
	[Sản lượng thực tế] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sanluongthuctetong]    Script Date: 9/28/2025 8:00:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sanluongthuctetong](
	[Order] [float] NULL,
	[Tổng sản lượng thực tế] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[so_removed]    Script Date: 9/28/2025 8:00:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[so_removed](
	[PO.] [nvarchar](max) NULL,
	[Sales Document] [bigint] NOT NULL,
	[Customer] [nvarchar](max) NULL,
	[Material] [bigint] NOT NULL,
	[Item Description] [nvarchar](max) NULL,
	[Quantity (KG)] [float] NULL,
	[Quantity (S.U)] [float] NULL,
	[Deli.Priority] [bigint] NULL,
	[Shipped Quantity (S.U)] [float] NULL,
	[Shipped Quantity (KG)] [float] NULL,
	[Delivery Status Description] [nvarchar](max) NULL,
	[Cus.PO.] [float] NULL,
	[Factory] [nvarchar](max) NULL,
	[Ship to party] [nvarchar](max) NULL,
	[Customer Number] [bigint] NULL,
	[Billed Qty] [float] NULL,
	[Billed Qty (KG)] [float] NULL,
	[Created by] [nvarchar](max) NULL,
	[Sales Unit] [nvarchar](max) NULL,
	[Sales Document Item] [bigint] NOT NULL,
	[Schedule Delivery Date] [float] NULL,
	[Basic data text] [nvarchar](max) NULL,
	[Reqd Deliv Date] [nvarchar](max) NULL,
	[SL cần xuất] [float] NULL,
	[Ghi chú GH (LXH)] [float] NULL,
	[Ghi chu (YCSX)] [float] NULL,
	[Batch] [float] NULL,
	[Size] [nvarchar](max) NULL,
	[Status] [nvarchar](max) NULL,
	[snapshot_ts] [nvarchar](max) NULL,
	[status1] [nvarchar](max) NULL,
 CONSTRAINT [PK_so_removed] PRIMARY KEY CLUSTERED 
(
	[Sales Document] ASC,
	[Material] ASC,
	[Sales Document Item] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ton_kho]    Script Date: 9/28/2025 8:00:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ton_kho](
	[index] [float] NULL,
	[Order] [bigint] NULL,
	[Material] [nvarchar](max) NULL,
	[Material Description_x] [nvarchar](max) NULL,
	[Tồn kho chưa Mapping SO] [int] NULL,
	[Tồn kho Mapping SO] [int] NULL,
	[Tổng tồn kho] [int] NULL,
	[Tổng Loại 1] [int] NULL,
	[Tổng Loại 2] [int] NULL,
	[Số lượng chờ nhập kho] [int] NULL,
	[SO Mapping] [bigint] NULL,
	[Material Description_y] [nvarchar](max) NULL,
	[Customer N] [nvarchar](max) NULL,
	[SL Mapping kho] [int] NULL,
	[Shipped Quantity (KG)] [int] NULL,
	[Quantity (KG)] [int] NULL,
	[Process] [int] NULL,
	[Material Description] [nvarchar](max) NULL,
	[lsx_id] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
